<<<<<<< HEAD
body {
    font-family: "Roboto Mono", monospace;
    text-align: center;
    background-color: #000000;
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
    height: 100vh;
  }
  
  h1{
    color: white;
=======
body {
    font-family: "Roboto Mono", monospace;
    text-align: center;
    background-color: #000000;
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
    height: 100vh;
  }
  
  h1{
    color: white;
>>>>>>> 9fddb904b4c31fa9be70aa732dab05d8b2f0fc87
  }